.App {
  height: 100%;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: itemList itemDetail;
}

.itemList {
  background-color: aliceblue;
}

.headerList {
  background-color: green;
}

.itemDetail {
  background-color: brown;
}
